$purple: #8000ff;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

#bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.06;
    background: linear-gradient(0, rgba(128, 0, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    z-index: -100;
}

#landingContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2.5vw;
        font-weight: 600;
    }
}

#landingInner {
    display: flex;
    backdrop-filter: blur(4px);
    mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 32px,
            rgba(0, 0, 0, 1) calc(100% - 32px),
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 32px,
            rgba(0, 0, 0, 1) calc(100% - 32px),
            rgba(0, 0, 0, 0) 100%
        );
    mask-position: center;
    mask-repeat: no-repeat;
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
    padding: 32px;
}

#menu {
    margin: 0 64px 0 0;
    padding: 0 32px 0 0;
    color: $purple;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 4px solid $purple;

    li {
        list-style: none;
        text-align: right;
        font-weight: 700;
        padding: 32px;
        font-size: 24px;

        i {
            margin-left: 32px;
        }
    }
}

h1 {
    color: $purple;
    font-size: 96px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 96px;

    .black {
        color: #000000;
    }
}

h2 {
    color: #000000;
    font-size: 96px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 96px;
}

.bubble {
    background: rgba(128, 0, 255, 0.08);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    top: -150px;
    left: calc(50vw - 75px);
    transition: all 1s ease;

    img {
        max-width: 100px;
        max-height: 100px;
    }
}

#fullBubbles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10;
}
